/* *{
    padding-left: 5px;
    padding-right: 5px;
} */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.logo{
    margin-left: 10px;
   display: flex;
    justify-content: center;
    align-items: center;
}
.navi{
    display: flex;
    list-style: none;
}
.sel{
    border: none;
}
a{
    text-decoration: none;
    margin-left:20px ;
    color: black;
    font-weight: bold;
}
button{
    padding: 5px;
    color: white;
    background-color: black;
    border-radius: 5px ;
}
.first{
    position: relative;
    border-radius: 20px;
    background-image: url(https://static.vecteezy.com/system/resources/previews/038/818/336/non_2x/ai-generated-a-modern-library-featuring-sleek-shelves-and-minimalist-design-free-photo.jpeg);
    height: 600px;
}
/* main{
    margin: 10px;
} */
.content{
    color: white;
    position:absolute;
    bottom: 10%;
    left: 3%;
}
section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    row-gap: 3vw;
}
.card{
    /* border:2px solid black; */
    height: 700px;
    width: 30vw;
}
.cardimge{
    height: 65%;
    width: 30vw;
    border-radius: 20px;
}
.low{
    display: flex;
    align-items: center;
}
.profile{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.buton{
    display: flex;
    justify-content: center;
}
footer{
    background-color: black;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.foo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.grid{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    column-gap: 100px;
}
.foot{
    display: flex;
    flex-direction: column;
}
.foot ul li{
    list-style: none;
    margin-bottom: 10px;
}
.last{
    display: flex;
    justify-content: start;
    align-items: center;
    justify-content: space-between;
}
.logoo{
    /* margin-left: 10px; */
   display: flex;
    justify-content: center;
    align-items: center;
}