header{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.logo{
    margin-left: 10px;
   display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    display: flex;
    list-style: none;
}
.sel{
    border: none;
}
a{
    text-decoration: none;
    margin-left:20px ;
    color: black;
    font-weight: bold;
}
button{
    color: white;
    background-color: black;
    border-radius: 5px ;
}
.first{
    position: relative;
    border-radius: 15px;
    background-image: url(https://static.vecteezy.com/system/resources/previews/038/818/336/non_2x/ai-generated-a-modern-library-featuring-sleek-shelves-and-minimalist-design-free-photo.jpeg);
    width: 100vw;
    height: 600px;
}
.content{
    color: white;
    position:absolute;
    bottom: 10%;
    left: 3%;
}
section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    row-gap: 3vw;
}
.card{
    border:2px solid black;
    height: 500px;
    width: 30vw;
}
.cardimge{
    width: 30vw;
    background-size: cover;
}